<h1>Courses</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Course Name</th>
            <th>Description</th>
            <th>Instructor</th>
        </tr>
    </thead>
    <tbody>
        @for (course of course; track $index) {
            <tr>
                <td>
                    <a [routerLink] = "['/courseStudents',course.courseId]">
                        {{ course.courseId }}
                    </a>
                </td>
                <td>{{ course.courseName }}</td>
                <td>{{ course.courseDescription }}</td>
                <td>{{ course.instructorName }}</td>
            </tr>
        }
    </tbody>
</table>